<link href="~/Content/cssDoGiovani.css" rel="stylesheet" />
@{
    ViewBag.Title = "Home Page";
}

<header class="home-header" style="margin-top:60px">
    <div class="home-header--item -flexrow">
        <div class="-medium">Beauty&Me</div>
    </div>
    <div class="home-header--item">
        <p class="home-header--item__text">O profissional certo para o seu tempo e bolso.</p>
    </div>
    <div class="home-header--item">
        @using (Html.BeginForm("Pesquisar","Servicos",FormMethod.Post,new { Id= "pesquisarForm" }))
        {
            <input type="text" class="home-header--search" placeholder="Pesquisar.." onclick="document.getElementById('pesquisarForm').submit();">
        }
        
    </div>
</header>
<main class="home">
    <div class="home-content">
        <div class="main-image">
            <img class="home-products--item__image" src="https://via.placeholder.com/300x180" alt="">
            <p class="-small">Encontre os cortes mais modernos e perfeitos para o seu estilo</p>
        </div>
    </div>

    <div class="hr"></div>
    <div class="home-content">
        <div class="home-products">
            @using (Html.BeginForm("Pesquisar", "Servicos", FormMethod.Post, new { Id = "pesquisarForm1" }))
            {
                <div class="home-products--item" onclick="document.getElementById('pesquisarForm1').submit();">
                    <div class="home-products--item__imagebox">
                        <img class="home-products--item__image" src="https://via.placeholder.com/135x90" alt="">
                    </div>

                    @Html.Hidden("pesquisa", "manicure")
                    <div class="home-products--item__info">
                        <div class="home-products--item__title">
                            Manicures
                        </div>
                        <div class="home-products--item__subtitle">
                            Encontre Manicures
                        </div>
                    </div>
                </div>
            }

            @using (Html.BeginForm("Pesquisar", "Servicos", FormMethod.Post, new { Id = "pesquisarForm2" }))
            {
                @Html.Hidden("pesquisa", "barbeiro")
                <div class="home-products--item" onclick="document.getElementById('pesquisarForm2').submit();">
                    <div class="home-products--item__imagebox">
                        <img class="home-products--item__image" src="https://via.placeholder.com/135x90" alt="">
                    </div>

                    <div class="home-products--item__info">
                        <div class="home-products--item__title">
                            Barbeiros
                        </div>
                        <div class="home-products--item__subtitle">
                            Encontre barbeiros x
                        </div>
                    </div>
                </div>
            }
            </div>
    </div>
</main>