
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OnlyMobile</title>
</head>
<body>
    <div> 
        <h1> No momento nossa plataforma só esta em funcionamento na forma mobile</h1>
        <h2> Agradecemos a compreensão. </h2>
        <img src="https://www.mecanicaindustrial.com.br/wp-content/uploads/2016/11/manuten%C3%A7%C3%A3o-planejada-1.jpg" />
    </div>
</body>
</html>
